@model DictionariesViewModel
@{
    ViewBag.Title = "ზოგადი ცნობარები";
}

@section HeaderSection {
@Html.DevExpress().GetStyleSheets(new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList })
@Html.DevExpress().GetScripts(new Script { ExtensionSuite = ExtensionSuite.TreeList })


}

@section Breadcrumb {
    <div class="row">
        <ol class="breadcrumb">
            <li class="active">@ViewBag.Title</li>
        </ol>
    </div>

}


<div class="row">
    <div class="col-md-12">
        <div class="actions-bar">
            <a href="#" class="btn btn-default" id="add-new"><i class="fa fa-plus"></i> დამატება</a>
        </div>
    </div>
</div>

<div class="row dev-item-container">
    @Html.Partial("_DictionariesTree", Model.TreeViewModel)
</div>


@section FooterSection {
    <script src="~/Areas/Admin/Content/scripts/Dictionaries/Index.js"></script>
}
