/*--------- Icons -----------*/


.fa-minus-circle,
.fa-trash-o {
    color: #d9534f;
}

.fa-pencil {
    color: rgb(239, 239, 15);
}

.fa-check-circle,
.fa-plus {
    color: green;
}

.fa-user {
    color: rgb(7, 139, 142)
}

/*--------- End Icons -----------*/

.actions-bar {
    border-bottom: 1px solid #f5f5f5;
    border-top: 1px solid #f5f5f5;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.actions-bar .ab-btn a {
    margin-right: 16px;
}

.checkbox-form-group {
    margin-top: 25px;
}

#ui-datepicker-div {
    z-index: 1000 !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}