@model UsersViewModel
@{
    ViewBag.Title = "მომხმარებლები";
}

@section HeaderSection {
    @Html.DevExpress().GetStyleSheets(new StyleSheet { ExtensionSuite = ExtensionSuite.GridView })
    @Html.DevExpress().GetScripts(new Script { ExtensionSuite = ExtensionSuite.GridView })

}

@section Breadcrumb {
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="active">@ViewBag.Title</li>
            </ol>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="actions-bar">
            <a href="#" class="btn btn-default" id="add-new"><i class="fa fa-plus"></i> დამატება</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @Html.Partial("_UsersGrid", Model.GridViewModel)
    </div>
</div>

@section FooterSection {
    <script src="~/Areas/Admin/Content/scripts/Users/Index.js"></script>
}
