@model UserViewModel
@{
    ViewBag.Title = "მომხმარებლები";
}

@section HeaderSection {

    <link href="~/Content/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    @*<link href="~/Content/plugins/dataTables/dataTables.responsive.css" rel="stylesheet" />*@
}

@section Breadcrumb {
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="active">@ViewBag.Title</li>
            </ol>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        <div class="actions-bar">
            <a href="@Model.UserCreateUrl" class="btn btn-default"><i class="fa fa-plus"></i> დამატება</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                მომხმარებელთა სია
            </div>
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="users-grid">
                        <thead>
                            <tr>
                                <th>ხელშ. №</th>
                                <th>სახელი</th>
                                <th>გვარი</th>
                                <th>კომპანია</th>
                                <th>ტელეფონი</th>
                                <th>მისამართი</th>
                                <th>საიდ. კოდი</th>
                                <th>როლი</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @*<tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><a href="#"><i class="fa fa-pencil"></i> </a><a href="#" class="user-delete"> <i class="fa fa-trash-o"></i></a></td>
                                </tr>*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section FooterSection {
    <script src="~/Content/plugins/dataTables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/dataTables/dataTables.bootstrap.min.js"></script>  
    <script src="~/Areas/Admin/Content/scripts/Users/Index.js"></script>
}
